* {
  font-family: 'Dosis', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  color: #ffffff;
  margin: 0;
  padding: 0;
  background-color: #1A1A1A;
  background-image: url('Loga/Think-different-Academy_LOGO_bily.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 3.2rem;
  background-position: 25px 25px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: auto;
}

/* Menu */
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 10px;
  background-color: rgba(26, 26, 26, 0);
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

/* Button Styling */
.btn {
  display: inline-block;
  outline: none;
  cursor: pointer;
  border: 1px solid #0f62fe;
  text-align: center;
  padding: 12px 20px;
  background-color: transparent;
  font-size: 14px;
  letter-spacing: 0.16px;
  line-height: 1.29;
  color: #0f62fe;
  font-weight: 600;
  border-radius: 8px;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  text-decoration: none;
}

.btn:hover {
  background-color: #395A9A;
  color: #fff;
}

/* Main Text Styling */
.main-text {
  color: #0070BB;
  margin: 0;
  font-weight: 700;
  font-size: 3em;
  text-align: center;
  pointer-events: none;
}

/* Watermark Styling */
.watermark {
  color: #0070BB;
  position: absolute;
  bottom: 0;
  left: 1%;
  font-weight: 500;
  font-size: 1rem;
  transform: translateY(-50%);
  text-align: center;
  pointer-events: none;
}

/* Font face for 'Dosis' */
@font-face {
  font-family: 'Dosis';
  src: url('font/Dosis-Regular.ttf') format('truetype');
  font-style: normal;
}

@media (max-width: 768px) {
  .main-text {
    font-size: 2em; 
  }

  .btn {
    padding: 10px 15px;
    font-size: 16px; 
  }

  .center-logo {
    width: 150px;
    height: auto;
  }

  .menu {
    flex-direction: column;
    gap: 10px;
  }
  .watermark {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .main-text {
    font-size: 1.5em;
  }
  .btn {
    width: 80%; 
  }
  .center-logo {
    width: 130px;
  }
  .menu {
    gap: 8px;
  }
}
