<!DOCTYPE html>
<html lang="en">
<head>
    <title>O Nás</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" type="text/css">
    <link rel="shortcut icon" href="{% static 'css/Ikonky/SVG/Idea/zarivka_idea_bile.svg' %}" type="image/x-icon">
</head>
<body class="aboutus-page">
    <div class="container">
        <div class="main-text" onmousedown='return false;' onselectstart='return false;'>O Nás</div>
        <div class="watermark" onmousedown='return false;' onselectstart='return false;'>Created by ITBlázni</div>
        <div class="menu">
            <a href="{% url 'game_list' %}" class="btn">Hrát</a>
            <a href="{% url 'home' %}" class="btn">Domů</a>
            <a href="https://tourde.app/" class="btn">TdA</a>
            <a id="toggleTheme" class="btn">Změnit Motiv</a>
        </div>

        <a href="https://sps-dopravni.cz" id="movingText">MILUJEME PRŮMYSL NA MOTOLE</a>
        
        <div class="about-us" onmousedown='return false;' onselectstart='return false;'>
            <div class="card">
                <div class="card-image">
                    <img src="{% static 'css/Ikonky/PNG/hatcyk.png' %}" alt="😮 nejde png">
                </div>
                <div class="card-header">Štefan Barát</div>
                <div class="card-subheader">Zkušenosti</div>
                <div class="card-text">
                    <p><strong>Python: </strong>1 rok</p>
                    <p><strong>O Mně: </strong>Jsem vývojář se zaměřením na programování v Lua, kde mám více než 5 let zkušeností. V posledním roce jsem se intenzivně věnoval Pythonu.</p>
                </div>
                <div class="card-socials">
                    <div>
                        <span class="card-socials-label">Discord</span>
                        <span class="card-socials-text">hatsukooo</span>
                        <a href="https://discordapp.com/users/853595898344374282" class="card-socials-text">Odkaz na Discord</a>
                    </div>
                    <div>
                        <span class="card-socials-label">GitHub</span>
                        <span class="card-socials-text">Hatsukooo</span>
                        <a href="https://github.com/Hatsukooo" class="card-socials-text">Odkaz na GitHub</a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-image">
                    <img src="{% static 'css/Ikonky/PNG/' %}" alt="😮 nejde png">
                </div>
                <div class="card-header">Střední průmyslová škola dopravní, a.s.</div>
                <div class="card-subheader">O Škole</div>
                <div class="card-text" >
                    <p>Střední průmyslová škola dopravní, a.s. je zaměřena na výuku technických oborů se zaměřením na městskou hromadnou dopravu, logistiku v dopravě, informatiku, elektro a automobilový průmysl. Obory je možné studovat v denní, dálkové a zkrácené formě vzdělávání. Zřizovatelem školy je <strong><a href="https://dpp.cz">Dopravní podnik hlavního města Prahy</a></strong>.  Teoretická výuka probíhá ve dvou budovách školy v Motole a na Vinohradech. Obě jsou výborně dopravně dostupné v rámci Prahy i Středočeského kraje. Odborný výcvik je zajišťován v dílnách v Košířích, v Motole a v Hostivaři, ve vyšších ročnících především na pracovištích zřizovatele, případně podle zájmu a preference žáků jednotlivých oborů.</p>
                </div>
                <div class="card-socials">
                    <div>
                        <span class="card-socials-label">Web</span>
                        <span class="card-socials-text" >sps-dopravni.cz</span>
                        <a href="https://sps-dopravni.cz" class="card-socials-text">Odkaz</a>
                    </div>
                    <div>
                        <span class="card-socials-label">Instagram</span>
                        <span class="card-socials-text" >spsdopravni</span>
                        <a href="https://instagram.com/spsdopravni/" class="card-socials-text">Odkaz</a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-image">
                    <img src="{% static 'css/Ikonky/PNG/marv.gif' %}" alt="😮 nejde png">
                </div>
                <div class="card-header">Daniel Kubka</div>
                <div class="card-subheader">Zkušenosti</div>
                <div class="card-text" >
                    <p><strong>Python: </strong>5 let</p>
                    <p><strong>O Mně: </strong>Věnuji se programování v Pythonu již přes 5 let. Zaměřuji se na vývoj Discord botů, kteří zjednodušují práci a kontrolu nad celým serverem.</p>
                </div>
                <div class="card-socials">
                    <div>
                        <span class="card-socials-label">Discord</span>
                        <span class="card-socials-text" >marv140</span>
                        <a href="https://discordapp.com/users/224214348476841985" class="card-socials-text">Odkaz</a>
                    </div>
                    <div>
                        <span class="card-socials-label">GitHub</span>
                        <span class="card-socials-text">marv140</span>
                        <a href="https://github.com/Marv140" class="card-socials-text">Odkaz</a>
                    </div>
                </div>
            </div>
            
        </div> 
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
