<!DOCTYPE html>
<html lang="en">
<head>
    <title>HRAJEM!!!! :O</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/game.css' %}" type="text/css">
    <link rel="shortcut icon" href="{% static 'css/Ikonky/SVG/Idea/zarivka_idea_bile.svg' %}" type="image/x-icon">
</head>
<body>
    <div class="container">
        <div class="main-text" onmousedown="return false;" onselectstart="return false;">
            Level #{{ game.index }} - {{ game.name }}
        </div>
        <div class="watermark" onmousedown="return false;" onselectstart="return false;">
            Created by ITBlázni
        </div>
        <div class="menu">
            <a href="{% url 'home' %}" class="btn">Domů</a>
            <a href="{% url 'game_list' %}" class="btn">Seznam Levelů</a>
            <a href="{% url 'aboutus' %}" class="btn">O Nás</a>
            <a href="https://tourde.app/" class="btn">TdA</a>
            <button id="toggleTheme" class="btn">Změnit téma</button>
        </div>
        <h1>Obtížnost: {{ game.difficulty }}</h1>
        <h1>Status: {{ game.gameState }}</h1>
        <div class="status" id="status">Na řadě je hráč: X</div>
        <div class="grid" id="grid">
        </div>
        <button class="reset-btn" id="resetBtn">Restartovat hru</button>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/game.js' %}"></script>
</body>
</html>