<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css\stylesheet.css' %}" type="text/css">
    <link rel="shortcut icon" href="{% static 'css\TdA _ Ikonky\SVG\Idea\zarivka_idea_bile.svg' %}" type="image/x-icon">
    <title>Hmmmm Piškvorky</title>
</head>
<body id="game">
    <div class="container">
        <h1 class="main-text">Piškvorkové Úlohhy</h1>
        <p class="secondary-text">MILUJEME PRŮMYSL NA MOTOLE</p>
    </div>
    <div id="game-app">
        <div class="container">
            <a href="{% url 'home' %}" class="corner-button">
                <span>Domů</span>
            </a>
        </div>
    </div>

    <script src="{% static 'js\script.js' %}"></script>
</body>
</html>